@mixin flex($justify: center, $align: center, $direction: row) {
    display: flex;
    flex-direction: $direction;
    
    // They get inverted
    @if $direction == column {
        justify-content: $align;
        align-items: $justify;
    } @else {
        justify-content: $justify;
        align-items: $align;
    }
}


// Update these to match your preferences
$breakpoints: (
    "phone":        400px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1440px
);

@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}